* text=auto !eol
pro/TeXtoIDL/COPYRIGHT -text
pro/TeXtoIDL/DESCRIPTIONS -text
pro/TeXtoIDL/DISCLAIMER -text
pro/TeXtoIDL/FILES -text
pro/TeXtoIDL/README -text
pro/TeXtoIDL/matchdelim.pro -text
pro/TeXtoIDL/nexttok.pro -text
pro/TeXtoIDL/showtex.pro -text
pro/TeXtoIDL/strcnt.pro -text
pro/TeXtoIDL/strtok.pro -text
pro/TeXtoIDL/strtrans.pro -text
pro/TeXtoIDL/textable.pro -text
pro/TeXtoIDL/textoidl.bak -text
pro/TeXtoIDL/textoidl.pro -text
pro/TeXtoIDL/translate_sub_super.pro -text
pro/fits/djs_readmany.pro -text
pro/math/djs_avsigclip.pro -text
pro/math/djs_ceil.pro -text
pro/math/djs_floor.pro -text
pro/math/djs_hex2bin.pro -text
pro/math/djs_hex2int.pro -text
pro/math/djs_int2bin.pro -text
pro/math/djs_iterstat.pro -text
pro/math/djs_mean.pro -text
pro/math/djs_median.pro -text
pro/math/djs_posmod.pro -text
pro/misc/djs_laxisgen.pro -text
pro/misc/djs_locate_file.pro -text
pro/misc/djs_readcol.pro -text
pro/misc/djs_readilines.pro -text
pro/misc/djs_readlines.pro -text
pro/misc/djs_selectlines.pro -text
pro/plot/atv.pro -text
pro/plot/djs_arrow.pro -text
pro/plot/djs_axis.pro -text
pro/plot/djs_contourpts.pro -text
pro/plot/djs_icolor.pro -text
pro/plot/djs_oplot.pro -text
pro/plot/djs_oploterr.pro -text
pro/plot/djs_plot.pro -text
pro/plot/djs_plotlimitbox.pro -text
pro/yanny/yanny_read.pro -text
pro/yanny/yanny_write.pro -text
src/math/arravsigclip.c -text
src/math/arrmedian.c -text
src/math/export.h -text
src/math/makefile -text
src/math/nr.h -text
src/math/nrecipes.c -text
src/math/nrutil.c -text
src/math/nrutil.h -text
